In [92]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import re

##Load Dataset Using pandas

In [93]:
Data_set = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/tripadvisor_hotel_reviews.csv')
# Data_set.size

##Rating Distribution

In [94]:
def temp(rating):
    if(rating <=2 ):
        rating = 0
    elif(rating== 3):
        rating = 1
    else:
        rating = 2
    return rating
            

Data_set.Rating = Data_set.Rating.apply(temp )
Data_set

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...       2
1      ok nothing special charge diamond member hilto...       0
2      nice rooms not 4* experience hotel monaco seat...       1
3      unique, great stay, wonderful time hotel monac...       2
4      great stay great stay, went seahawk game aweso...       2
...                                                  ...     ...
20486  best kept secret 3rd time staying charm, not 5...       2
20487  great location price view hotel great quick pl...       2
20488  ok just looks nice modern outside, desk staff ...       0
20489  hotel theft ruined vacation hotel opened sept ...       0
20490  people talking, ca n't believe excellent ratin...       0

[20491 rows x 2 columns]

##Dealing with missing values

In [95]:
Data_set.isna().sum()    # Here we can clearly see that there is no NAN values in our dataset. So no need to Deal with it

Review    0
Rating    0
dtype: int64

##Lower All the Text

In [96]:
def lower_text(temp):
    temp.lower()
    return temp

Data_set.Review = Data_set.Review.apply( lower_text)
Data_set

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...       2
1      ok nothing special charge diamond member hilto...       0
2      nice rooms not 4* experience hotel monaco seat...       1
3      unique, great stay, wonderful time hotel monac...       2
4      great stay great stay, went seahawk game aweso...       2
...                                                  ...     ...
20486  best kept secret 3rd time staying charm, not 5...       2
20487  great location price view hotel great quick pl...       2
20488  ok just looks nice modern outside, desk staff ...       0
20489  hotel theft ruined vacation hotel opened sept ...       0
20490  people talking, ca n't believe excellent ratin...       0

[20491 rows x 2 columns]

##Remove Hyperlinks

In [97]:
def remove_hyperlinks(temp):
    temp  = re.sub(r'^https?:\/\/.*[\r\n]*', '', temp)
    return temp
Data_set.Review = Data_set.Review.apply( remove_hyperlinks)
Data_set

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...       2
1      ok nothing special charge diamond member hilto...       0
2      nice rooms not 4* experience hotel monaco seat...       1
3      unique, great stay, wonderful time hotel monac...       2
4      great stay great stay, went seahawk game aweso...       2
...                                                  ...     ...
20486  best kept secret 3rd time staying charm, not 5...       2
20487  great location price view hotel great quick pl...       2
20488  ok just looks nice modern outside, desk staff ...       0
20489  hotel theft ruined vacation hotel opened sept ...       0
20490  people talking, ca n't believe excellent ratin...       0

[20491 rows x 2 columns]

##Substitute all the non alphabetical characters

In [98]:
def remove_nonalphabetical(temp):
    temp  = re.sub("[^a-zA-Z]+", ' ', temp)
    return temp
Data_set.Review = Data_set.Review.apply( remove_nonalphabetical )
Data_set

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...       2
1      ok nothing special charge diamond member hilto...       0
2      nice rooms not experience hotel monaco seattle...       1
3      unique great stay wonderful time hotel monaco ...       2
4      great stay great stay went seahawk game awesom...       2
...                                                  ...     ...
20486  best kept secret rd time staying charm not sta...       2
20487  great location price view hotel great quick pl...       2
20488  ok just looks nice modern outside desk staff n...       0
20489  hotel theft ruined vacation hotel opened sept ...       0
20490  people talking ca n t believe excellent rating...       0

[20491 rows x 2 columns]

##Remove Spaces

In [99]:
def remove_spaces(temp):
    temp  = re.sub(' +',' ', temp)
    return temp
Data_set.Review = Data_set.Review.apply( remove_spaces)
Data_set

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...       2
1      ok nothing special charge diamond member hilto...       0
2      nice rooms not experience hotel monaco seattle...       1
3      unique great stay wonderful time hotel monaco ...       2
4      great stay great stay went seahawk game awesom...       2
...                                                  ...     ...
20486  best kept secret rd time staying charm not sta...       2
20487  great location price view hotel great quick pl...       2
20488  ok just looks nice modern outside desk staff n...       0
20489  hotel theft ruined vacation hotel opened sept ...       0
20490  people talking ca n t believe excellent rating...       0

[20491 rows x 2 columns]

In [100]:
import nltk
# from nltk.corpus import stopwords
nltk.download('punkt') 
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [101]:
import pandas as pd

In [102]:
Data_set = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/cleaned_data.csv')
Data_set

       Unnamed: 0                                             Review  Rating
0               0  nice hotel expensive parking got good deal sta...       2
1               1  ok nothing special charge diamond member hilto...       0
2               2  nice rooms not experience hotel monaco seattle...       1
3               3  unique great stay wonderful time hotel monaco ...       2
4               4  great stay great stay went seahawk game awesom...       2
...           ...                                                ...     ...
20486       20486  best kept secret rd time staying charm not sta...       2
20487       20487  great location price view hotel great quick pl...       2
20488       20488  ok just looks nice modern outside desk staff n...       0
20489       20489  hotel theft ruined vacation hotel opened sept ...       0
20490       20490  people talking ca n t believe excellent rating...       0

[20491 rows x 3 columns]

In [103]:
from nltk import (word_tokenize , sent_tokenize)
def Tokenizer(x):
  x = word_tokenize(x)
  return x
Data_set.Review = Data_set.Review.apply(Tokenizer)
# for i in Data_set.Review:
#   word_tokenize(i)

In [104]:
Data_set

       Unnamed: 0                                             Review  Rating
0               0  [nice, hotel, expensive, parking, got, good, d...       2
1               1  [ok, nothing, special, charge, diamond, member...       0
2               2  [nice, rooms, not, experience, hotel, monaco, ...       1
3               3  [unique, great, stay, wonderful, time, hotel, ...       2
4               4  [great, stay, great, stay, went, seahawk, game...       2
...           ...                                                ...     ...
20486       20486  [best, kept, secret, rd, time, staying, charm,...       2
20487       20487  [great, location, price, view, hotel, great, q...       2
20488       20488  [ok, just, looks, nice, modern, outside, desk,...       0
20489       20489  [hotel, theft, ruined, vacation, hotel, opened...       0
20490       20490  [people, talking, ca, n, t, believe, excellent...       0

[20491 rows x 3 columns]

In [105]:
sw_nltk = stopwords.words('english')
# print(sw_nltk)

In [106]:
def Remove_Stopwords(x):
  x = [word for word in x if word.lower() not in sw_nltk]
  return x
Data_set.Review = Data_set.Review.apply(Remove_Stopwords)

In [107]:
Data_set

       Unnamed: 0                                             Review  Rating
0               0  [nice, hotel, expensive, parking, got, good, d...       2
1               1  [ok, nothing, special, charge, diamond, member...       0
2               2  [nice, rooms, experience, hotel, monaco, seatt...       1
3               3  [unique, great, stay, wonderful, time, hotel, ...       2
4               4  [great, stay, great, stay, went, seahawk, game...       2
...           ...                                                ...     ...
20486       20486  [best, kept, secret, rd, time, staying, charm,...       2
20487       20487  [great, location, price, view, hotel, great, q...       2
20488       20488  [ok, looks, nice, modern, outside, desk, staff...       0
20489       20489  [hotel, theft, ruined, vacation, hotel, opened...       0
20490       20490  [people, talking, ca, n, believe, excellent, r...       0

[20491 rows x 3 columns]

In [108]:
from nltk.stem import PorterStemmer
porter = PorterStemmer()

In [109]:
def Stemming(x):
  return [porter.stem(y) for y in x]
 

Data_set.Review = Data_set.Review.apply(Stemming)

In [110]:
Data_set

       Unnamed: 0                                             Review  Rating
0               0  [nice, hotel, expens, park, got, good, deal, s...       2
1               1  [ok, noth, special, charg, diamond, member, hi...       0
2               2  [nice, room, experi, hotel, monaco, seattl, go...       1
3               3  [uniqu, great, stay, wonder, time, hotel, mona...       2
4               4  [great, stay, great, stay, went, seahawk, game...       2
...           ...                                                ...     ...
20486       20486  [best, kept, secret, rd, time, stay, charm, st...       2
20487       20487  [great, locat, price, view, hotel, great, quic...       2
20488       20488  [ok, look, nice, modern, outsid, desk, staff, ...       0
20489       20489  [hotel, theft, ruin, vacat, hotel, open, sept,...       0
20490       20490  [peopl, talk, ca, n, believ, excel, rate, hote...       0

[20491 rows x 3 columns]

In [111]:
def join_words(x):
  return [" ".join(x)]

Data_set.Review = Data_set.Review.apply(join_words)

In [112]:
Data_set

       Unnamed: 0                                             Review  Rating
0               0  [nice hotel expens park got good deal stay hot...       2
1               1  [ok noth special charg diamond member hilton d...       0
2               2  [nice room experi hotel monaco seattl good hot...       1
3               3  [uniqu great stay wonder time hotel monaco loc...       2
4               4  [great stay great stay went seahawk game aweso...       2
...           ...                                                ...     ...
20486       20486  [best kept secret rd time stay charm star ca n...       2
20487       20487  [great locat price view hotel great quick plac...       2
20488       20488  [ok look nice modern outsid desk staff n parti...       0
20489       20489  [hotel theft ruin vacat hotel open sept guest ...       0
20490       20490  [peopl talk ca n believ excel rate hotel n ye ...       0

[20491 rows x 3 columns]